.env
__pycache__/
*.pyc
.DS_Store
*.egg-info/
dist/
build/
.chroma/
*.log
chroma_db/
.venv/
venv/
env/
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
*.mo
*.pot
*.orig
